.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 100px);
}

.Top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 100%;
  overflow: scroll;
  margin-top: 20px;
  margin-bottom: 30px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.List::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
